{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Incleair{% endblock %}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dashboard/images/favicon.png' %}">
<!--    <link href="{% static 'dashboard/vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">-->
	<link rel="stylesheet" href="{% static 'dashboard/vendor/chartist/css/chartist.min.css' %}">
	<!-- Vectormap -->
    <link href="{% static 'dashboard/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="{% static 'dashboard/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">
	<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
	<link href="{% static 'dashboard/vendor/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
</head>
<body>
{% block body %}
{% endblock %}